@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }

    nav,
    .teams-container,
    .features,
    .facts-card-container,
    .sponsors-img-container
    {
        flex-direction: column;
    }

    .feature-img img{
        width: 90%;
        margin-left: 0;
    }

    .ten-years-badge{
        position: static;
        max-width: 250px;
    }

    .teams-img-container{
        grid-template-columns: 1fr;
    }

    .teams-content{
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-card-container{
        gap: 20px;
    }

    .footer-container{
        margin: 130px auto;

    }
    
}


@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }

    nav,
    .features,
    .teams-container,
    .sponsors-img-container
    {
        flex-direction: column;
    }

    .footer-container{
        margin: 130px auto;

    }
}